@import 'config';
@import 'utilities';
@import 'form';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url('img/cluster.jpg');
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    background-size: auto;
    // opacity: 0.9;
    z-index: -1;
    font-size: 1rem;
    line-height: 1.6;
    // background-color: rgba(0,0,0,0.5);
    // background-color: $light-color;
    color: $light-color;

    form.signup-form {
        position: relative;
        margin: auto;
        background-color: $light-color;
        border: 1px solid black;
    }
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
}

// img {
//     width: 100%;
// }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.7;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }
}


.landing {
    position: relative;
    background: url('../core/img/banana.jpg') no-repeat center center/cover;
    height: 100vh;

    &-inner {
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}

.book-list {
    text-align: center;
}

.upload-book-btn {
    text-align: center;
    font-size: 1.2rem;
}

.upload-title {
    text-align: center;
    font-size: 1.2rem;
}

h3.text-center {
    margin-bottom: 20px;
}

// .col-4 {
//     border: 1px solid $primary-color;
// }

h5 {
    margin-left: 10px;
}

li {
    text-decoration: none;
}
