{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<body>
    <h2 class="book-list"><i class="fas fa-book"></i> Your list</h2>

    <table class="table">
    <thread>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thread>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
                <a href="{{ book.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">Download PDF</a>
            </td>
            <td>
                <form method="post" action="{% url 'delete_book' book.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="upload-book-btn"><a href="{% url 'upload_book' %}">Add to your list</a></div>
{% endblock %}
</body>