{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CLUSTER</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="{% sass_src '_base.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<main>
<!-- <br><br><br><br> -->
<!-- <h1 class="x-large">Cluster</h1> -->
<div class="container">
        {% if user.is_authenticated %}
        <p>Welcome to Cluster, {{ user.username }}!</p>
        <div class="row">
                <div class="col-4">
                        <h3 class="text-center">New York Bits</h3>
                        {% for nyb in nyb_news %}
                        <!-- <h5 class="card-title"><a href="{{ object.url }}">{{ object.title }}</a></h5> -->
                        <h5>{{ nyb }}</h5>
                        <hr>
                        {% endfor %}
                        <ul>
                                <li> <h5>in a world where </h5> </li>
                                <li> <h5>there would be </h5> </li>
                                </ul>                        <br>
                </div>
                <div class="col-4">
                        <h3 class="text-center">Times of India</h3>
                        {% for n in toi_news %}
                        <h5>{{ n }} </h5>
                        <hr>
                        {% endfor %}
                        <ul>
                        <li> <h5>django and I </h5> </li>
                        <li> <h5>a beautiful list </h5> </li>
                        </ul>
                        <br>
                </div>
                <div class="col-4">
                        <h3 class="text-center">The Onion</h3>
                        {% for n in toi_news %}
                        <h5>{{ n }} </h5>
                        <hr>
                        {% endfor %}
                        <ul>
                                <li> <h5>love each other</h5> </li>
                                <li> <h5>of scraped articles HERE</h5> </li>
                                </ul>                        <br>
                </div>
        </div>
</div>
    {% else %}
    <div class="dark-overlay">
        <div class="landing-inner">
        <h1 class="x-large">Cluster Reads</h1>
                <p class="lead">Create a CLUSTER profile for your daily stories and future reads</p>
                <div class="buttons">
                        <a href="{% url 'signup' %}" class="btn btn-primary">Create Account</a>
                        <a href="{% url 'login' %}" class="btn">Sign In</a>
                </div>
        </div>
</div>
{% endif %}
</main>
{% endblock %}
</body>
</html>